@charset "UTF-8";

:root {
    --color-1: #0769AD;
    --color-2: #A0D5FB;
    --color-3: #55B5FA;
    --color-4: #05497A;
    --color-5: #032B47;
    --light-text-color: #FFF;
    --dark-text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    color: var(--dark-text-color);
}

body {
    font-size: 16px;
}

h1,
.h1 {
    font-size: 2.5em;
}

h2,
.h2 {
    font-size: 2.2em;
}

h3,
.h3 {
    font-size: 1.9em;
}

h4,
.h4 {
    font-size: 1.6em;
}

h5,
.h5 {
    font-size: 1.3em;
}

h6,
.h6 {
    font-size: 1em;
}