.portfolio {
  padding: 20px;
  background-color: #f1f1f1;
}

.portfolio div.item {
  margin-bottom: 20px;
  width: 100%;
  min-height: 355px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.102);
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: #ffffff;
}

div.item div.imagem {
  max-width: 250px;
  overflow-y: hidden;
  background-color: #f4f4f4;
  transition: transform .3s ease-out;
}

div.item div.imagem img {
  width: 100%;
}

div.item div.descricao {
  padding: 20px;
}

div.item div.descricao h2 {
  margin-bottom: 10px;
}

div.item div.stacks {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  #galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  div.item div.imagem:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  #galeria {
    width: 1000px;
    margin: 0 auto;
  }
}