#projects-panel {
    width: 100%;
    min-height: calc(100vh - 60px);
}

#projects-panel h2 {
    margin: 20px 0;
}

#projects-panel main #main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

#projects-panel .card {
    width: 100%;
}

#projects-panel .card div {
    margin: 0 10px 30px 10px;
    box-shadow: 0 0 8px #888;
}

#projects-panel .card img {
    width: 100%;
    cursor: pointer;
}

#projects-panel .card .label {
    box-shadow: none;
    padding: 10px 20px;
    padding-bottom: 20px;
    height: 150px;
    overflow: hidden;
}

#projects-panel .card .label h3 {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    #projects-panel .card {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #projects-panel .card {
        width: 33.3333%;
    }
}

@media screen and (min-width: 1115px) {
    #projects-panel .card {
        width: 25%;
    }
}

.ovrlayImage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

.imgShow {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 512px;
}

.imgHide {
    position: fixed;
    cursor: pointer;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}